services:
  backend:
    image: heinminhtet/healthy-food-list-backend:latest
    restart: always
    environment:
      - FLASK_ENV=production
      - S3_JSON_URL=${S3_JSON_URL:-} # Use shell environment variable if set, otherwise empty
    expose:
      - 5000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    image: heinminhtet/healthy-food-list-frontend:latest
    restart: always
    expose:
      - 80

  lb:
    image: nginx:alpine
    restart: always
    ports:
      - "8081:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      backend:
        condition: service_healthy
      frontend:
        condition: service_started
