services:
  backend:
    image: heinminhtet/healthy-food-list-backend:latest
    build: ./backend
    restart: always
    environment:
      - FLASK_ENV=production
      - S3_JSON_URL=https://healthy-food-list.s3.ap-southeast-7.amazonaws.com/public/food.json
    expose:
      - 5000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    image: heinminhtet/healthy-food-list-frontend:latest
    build: ./frontend
    restart: always
    expose:
      - 80

  lb:
    image: heinminhtet/healthy-food-list-nginx:latest
    build: ./nginx
    restart: always
    ports:
      - "8081:80"
    depends_on:
      backend:
        condition: service_healthy
      frontend:
        condition: service_started
